<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="Conn" value ="DATA SOURCE=WIN-895579I18OV\MSSQLSERVER01 ;INITIAL CATALOG = Student;
			 INTEGRATED SECURITY=TRUE"/>
	</appSettings>
</configuration>